@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body,
:root {
  background-color: antiquewhite;
}

@font-face {
  font-family: 'grandstander';
  src: url('grandstander.ttf') format('truetype');
}

@font-face {
  font-family: 'poppins';
  src: url('poppins.ttf') format('truetype');
}

.meowcoin-logo {
  background-image: url(../public/MeowcoinLogoNoBackground.png);
  background-repeat: no-repeat;
  background-size: contain;
  height: 72px;
  aspect-ratio: 1;
  width: auto;
}

.about-us-image {
  background-image: url(../public/cat3.png);
  background-repeat: no-repeat;
  background-size: cover;
}