@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body,
:root {
  background-color: #deb887;
  background-image: url(../public/background.svg);
  background-repeat: no-repeat;
  background-size: cover;
}

html {
  scrollbar-width: none;
}

body {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

body::-webkit-scrollbar {
  width: 0px;
}

body::-webkit-scrollbar-thumb {
  background-color: transparent;
}

@font-face {
  font-family: 'grandstander';
  src: url('grandstander.ttf') format('truetype');
}

@font-face {
  font-family: 'poppins';
  src: url('poppins.ttf') format('truetype');
}

.meowcoin-logo {
  background-image: url(../public/MeowcoinLogoNoBackground.png);
  background-repeat: no-repeat;
  background-size: contain;
  height: 72px;
  aspect-ratio: 1;
  width: auto;
}

.mewc-logo-hero {
  will-change: transform;
  animation: hoverAnimation 2s infinite ease-in-out;
}

@keyframes hoverAnimation {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-15px);
  }
  100% {
    transform: translateY(0);
  }
}

.about-us-image {
  background-image: url(../public/cat1.png);
  background-repeat: no-repeat;
  background-size: cover;
}

.roadmap-image {
  background-image: url(../public/cat2.png);
  background-repeat: no-repeat;
  background-size: cover;
}

.partners-image {
  background-image: url(../public/cat3.png);
  background-repeat: no-repeat;
  background-size: cover;
}

.community-image {
  background-image: url(../public/cat4.png);
  background-repeat: no-repeat;
  background-size: cover;
}

.resources-image {
  background-image: url(../public/cat5.png);
  background-repeat: no-repeat;
  background-size: cover;
}

.docs-image {
  background-image: url(../public/cat6.png);
  background-repeat: no-repeat;
  background-size: cover;
}

.explorer-image {
  background-image: url(../public/cat7.png);
  background-repeat: no-repeat;
  background-size: cover;
}

.store-image {
  background-image: url(../public/cat8.png);
  background-repeat: no-repeat;
  background-size: cover;
}